<%- include('partials/header') -%>

    <main class="flex-grow">
        <div class="flex justify-center mt-20 gap-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </main>

<%- include('partials/footer') -%>